.policy-swiper {
  overflow-x: hidden !important;
  overflow-y: clip !important;
  min-height: 98px;

  .swiper-wrapper {
    align-items: center;
    min-height: 74px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #9ca3af;
    transform: translateY(-12px);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 16px !important;
    font-weight: 700 !important;
  }

  .swiper-pagination {
    bottom: -2px !important;
  }

  .swiper-pagination-bullet {
    background-color: #d1d5db;
    opacity: 1;
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background-color: #6b7280 !important;
  }

  @media (max-width: 768px) {
    min-height: 70px;

    .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      transform: translateY(0);
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 10px !important;
      font-weight: 700 !important;
    }

    .swiper {
      height: 70px;
      margin-top: 0;
    }
  }
}

/* 등장 애니메이션*/

.fade-wrapper {
  overflow: hidden;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(16px);
  transition:
    opacity 0.9s cubic-bezier(0.25, 0.8, 0.25, 1),
    transform 0.9s cubic-bezier(0.25, 0.8, 0.25, 1);
  will-change: opacity, transform;
  overflow-anchor: none;
}

.fade-in-up.show {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-up-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.fade-in-up-wrapper.show {
  max-height: 1000px;
}
