.policy-swiper {
  overflow-x: hidden !important;
  overflow-y: clip !important;
  min-height: 98px;

  .swiper-wrapper {
    align-items: center;
    min-height: 74px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #9ca3af;
    transform: translateY(-12px);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 16px !important;
    font-weight: 700 !important;
  }

  .swiper-pagination {
    bottom: -2px !important;
  }

  .swiper-pagination-bullet {
    background-color: #d1d5db;
    opacity: 1;
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background-color: #6b7280 !important;
  }

  @media (max-width: 768px) {
    min-height: 70px;

    .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      transform: translateY(0);
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 10px !important;
      font-weight: 700 !important;
    }

    .swiper {
      height: 70px;
      margin-top: 0;
    }
  }
}
