@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import 'tailwindcss';

@theme {
  --color-democratic: #002bff;
  --color-people: #e61e2b;
  --color-reform: #ff7210;
  --color-labor: #d6001c;
  --color-free: #ffed00;
  --color-independent: #808080;

  --font-nanum: 'NanumSquare Neo', sans-serif;
}
