@charset "UTF-8";
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
/* 다크모드 접두사 */

@font-face {
  font-family: 'NanumSquareNeo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff')
    format('woff');
}

@theme {
  --color-democratic: #002bff; /* 더불어민주당 */
  --color-people: #e61e2b; /* 국민의힘 */
  --color-reform: #ff7210; /* 개혁신당 */
  --color-labor: #ffed00; /* 민주노동당 */
  --color-free: #d6001c; /* 자유통일당 */
  --color-independent: #808080; /* 무소속 */
  --color-primary: #292b2e;
  --color-secondary: #f5f5f5;
}

button {
  cursor: pointer;
}

:root {
  font-family: 'NanumSquareNeo';
}

* {
  font-family: 'NanumSquareNeo';
  box-sizing: border-box;
}

.mw-1280 {
  max-width: 1280px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

/* 스크롤 바 숨기기 */
html {
  -ms-overflow-style: none; /* Internet Explorer, Edge */
  scrollbar-width: none; /*  Firefox */
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  display: none; /*  Chrome, Safari, and Opera */
}

/*커서 변경*/
body {
  cursor: url('/src/assets/cursor.svg'), auto;
}

/*마우스 포인터 유지하고 싶으면 밑에 코드 지우면 됩니다*/
button,
a,
[class*='cursor-pointer'] {
  cursor: url('/src/assets/cursor.svg'), auto !important;
}

.scroll-margin {
  scroll-margin-top: 80px;
}

@media (max-width: 768px) {
  .scroll-margin {
    scroll-margin-top: 64px;
  }
}

/* 토스트 */
.toast-responsive {
  font-size: 14px;
  padding: 12px 16px;
  max-width: 90vw;
  width: 100%;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 9999;
  position: relative;
}

@media (min-width: 768px) {
  .toast-responsive {
    font-size: 16px;
    padding: 16px 24px;
    max-width: 300px;
  }
}

/* 다크 모드 대응 */
html.dark .toast-responsive {
  background-color: rgba(255, 255, 255, 0.85);
  color: #000;
}

@media (prefers-color-scheme: dark) {
  .toast-responsive {
    background-color: rgba(255, 255, 255, 0.85);
    color: #000;
  }
}
